.portfolio{
    &__container{
    margin: 60px auto;
        @media screen and (min-width: $desktop) {
            margin: 93px auto;
        }
    }

    &__projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        @media screen and (min-width: $tablet) {
            justify-content: left;
        }
    }
}

.filters{
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet) {
        justify-content: center;
    }

    &-wrapper{
        margin-bottom: 50px;
        @media screen and (min-width: $tablet) and (max-width: 1229.98px){
            margin-bottom: 30px;
        }
    }

    &__button{
        background: $background-light;
        border-radius: 4px;
        font-size: 16px;
        border: none;
        padding: 6px 22px;
        color: $title-text-color;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.03em;
    }

    &__button-active{
        padding: 6px 25px;
        border: none;
        background-color: $accent-color;
        color: $main-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.project{
    width: 450px;
    text-align: left;
    position: relative;

    &__img{
        width: 100%;
        height: 294px;
    }

    &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__title{
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 20px 24px;
        border: 1px solid #EEEEEE;
        width: 100%;
        border-top: none;
    }

    &__heading{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: $title-text-color;
    }

    &__type{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: $text-color;
    }

    &__img-wrapper{
        display: none;
    }

    @media screen and (min-width: $tablet) {
        width: 354px;
    }

    @media screen and (min-width: $desktop) {
        width: 370px;
    }
}

.project:hover .project__img-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    height: 294px;
    padding-left: 24px;
    padding-right: 24px;
    color: $main-color;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.03em;
}