$main-color: #ffffff;
$accent-color: #2196f3;
$text-color: #757575;
$background-color: #2f303a;
$background-light: #f5f4fa;
$address-text-color: rgba(255, 255, 255, 0.6);
$title-text-color: #212121;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;