.advantages{

    &__container{
        margin: 94px auto;
        padding: 0;
    }

    &__items{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 270px;
    }

    &__header{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 16.41px;
        letter-spacing: 0.03em;
        color: $title-text-color;
        padding-bottom: 10px;
    }

    &__text{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em; 
        color: $text-color;
    }


    &__icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-light;
        height: 120px;
        border-radius: 4px;
    }

}