.clients{
    
    .container--clients {
        text-align: center;
        margin: 94px auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__heading{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;

        color: $title-text-color;
    }

    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    &__icon{
        fill: #AFB1B8;
    }

    &__link{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 92px;
        width: 170px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
    }
    &__link:hover{
        border-color: $accent-color;
    }

    &__link:hover &__icon{
        fill: $accent-color;
    }
    
}