.clients{
    &__container{
        margin: 60px auto;
        
        @media screen and (min-width: $desktop) {
            margin: 94px auto;
        }
    }

    &__heading{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.03em;
        padding-bottom: 30px;

        color: $title-text-color;

        @media screen and (min-width: $desktop) {
            padding-bottom: 50px;
            font-size: 36px;
            line-height: 42px;
        }
    }

    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__icon{
        fill: #AFB1B8;
        transition: $standart-transition;
    }

    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 92px;
        width: 210px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        transition: $standart-transition;

        @media screen and (min-width: $tablet){
            width: 226px;
        }

        @media screen and (min-width: $desktop){
            width: 170px;
        }
    }
    
    &__link:hover{
        border-color: $accent-color;
    }

    &__link:hover &__icon{
        fill: $accent-color;
    }
}