.header{
   
    

    &__container{
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: red;
        
    }

    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: black;
        &--accent{
        color: $accent-color; 
        }
      }
}

.navigation{
    @media screen and (max-width: 767.98px){
        display: none;
    }
}

.contacts{
    @media screen and (max-width: 767.98px){
        display: none;
    }
}

.menu{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &__icon-menu{
        width: 50px;
    }

    &__icon-cross{
        display: none;
    }

    &.is-open &__icon-cross{
        display: block;
    }

    &.is-open &__icon-menu{
        display: none;
    }

    &__svg{
        padding: 4px 5px;
    }
}