.specialize{

    &__container{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 94px;
    }

    &__heading{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: $title-text-color;
        padding-bottom: 50px;
    }

    &__photos{
        display: flex;
        justify-content: space-between;
    }

    &__photo-container{
        position: relative;
    }

    &__label-container{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
    }

    &__label{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $main-color;
    }
    
}