.team{
    background-color: $background-light;

    &__container{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__heading{
        padding-bottom: 30px;
    }

    &__card:not(:last-child){
        @media screen and (max-width: 767px){
            margin-bottom: 30px;
        }
    }

    &__card{
        background-color: $main-color;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 24px;
    }

    &__card-photo{
        padding-bottom: 30px;
    }

    &__card-name{
        padding-bottom: 10px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        letter-spacing: 0.03em;

        color: $title-text-color;
    }

    &__position{
        padding-bottom: 16px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: $text-color;
    }

    &__links{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__link {
        background-color: $main-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
    }

    &__link:hover,
    &__link:focus {
        background-color: $accent-color;
    }

    &__icon{
        fill: #AFB1B8;
    }

    &__link:hover &__icon {
        fill: $main-color;
    }
    
    &__link:focus &__icon {
        fill: $main-color;
    }
}
