.team{
    background-color: $background-light;

    &__container{
        text-align: center;
        padding: 94px 0;
    }


    &__heading{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-text-color;
        margin-bottom: 50px;
    }

    &__cards{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__card{
        background-color: $main-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 30px;
    }

    &__card-name{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-text-color;
    }

    &__position{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: $text-color;
    }

    &__desc{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 16px;
    }

    &__links{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__link {
        background-color: $main-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
      }

    &__link:hover,
    &__link:focus {
        background-color: $accent-color;
    }

    &__icon{
        fill: #AFB1B8;
    }

    &__link:hover &__icon {
        fill: $main-color;
    }
    
    &__link:focus &__icon {
        fill: $main-color;
    }

}
